div {
  display: block;
}

h1,
h2,
h6 {
  text-align: center;
  font-family: "Exo 2", sans-serif;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  padding: 40px 10px 10px 10px;
}

h2 {
  color: #282828;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
}

h6 {
  font-weight: 300;
  font-size: 15px;
  padding: 0px 0px 10px 0px;
}

button {
  background: transparent;
  border-style: none;
  color: rgba(0, 0, 0, 0.4);
  transition: all 200ms ease-in-out;
}

button:hover {
  cursor: pointer;
}

hr {
  color: #323232;
  height: 10px;
  position: relative;
  border: none;
}

small {
  font-size: 12px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.app-box-wrapper {
  max-width: 370px;
  margin: 30px auto;
}

.app-box {
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  border: 2px solid black;
  border-radius: 10px;
  max-width: 370px;
  padding: 30px;
  margin: 10px auto;
}

.search-bar {
  width: 240px;
  border-radius: 5px;
  border-style: none;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  padding: 3px 0px 3px 12px;
}

.fas {
  color: black;
}

.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -36px;
}

.weather-temperature .active {
  color: black;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.split {
  color: #898b8a;
}

#icon {
  width: 120px;
  height: 120px;
  margin-left: 10px;
}

#temperature {
  font-family: "Exo 2", sans-serif;
  font-size: 70px;
  font-weight: 800px;
  text-align: left;
  margin: 40px 0px 0px 15px;
}

.wind,
.humidity {
  font-family: "Exo 2", sans-serif;
  color: #393e46;
  font-size: 12px;
  font-weight: bold;
  margin: 0px 0px 10px 230px;
}

.wind-icon,
.humidity-icon {
  width: 20px;
  height: 20px;
}

.weather-forecast {
  margin-top: 15px;
}

.weather-forecast h3 {
  color: black;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  height: 18px;
  line-height: 15px;
  padding-top: 10px;
}

.weather-forecast img {
  display: block;
  height: 60px;
  width: 60px;
}

.weather-forecast-temperature {
  text-align: center;
  color: black;
  font-size: 14px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
